
.note {
    display: block;
    padding: 15px;
    margin: 0 15px 0 15px;
    border: 1px solid gray;
    background-color: #dae4f5;
    color: darkslategray;
}



/* Tooltip things, taken from https://www.w3schools.com/css/css_tooltip.asp */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  top: 100%;
  left: 50%;
  margin-left: -200px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
